name: CI

on:
  push:
    branches: [ "main", "add_ci" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            make
            base-devel
            pkgconf
            tree
            autoconf
            automake
            autotools
            gettext-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-libssh2
            mingw-w64-x86_64-c-ares

      - name: Force LF on checkout (git config)
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.safecrlf true

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Verify installation
        shell: msys2 {0}
        run: |
          gcc -v
          echo "list packages"
          pacman -Q
          env
          uname -a
          pwd
          export OUT_DIR="$PWD/out"
          pushd aria2
          file aria2/deps/wslay/configure.ac
          autoreconf -i
          ./configure --prefix="$OUT_DIR" --without-included-gettext --disable-nls --with-libcares --without-gnutls --without-openssl --with-sqlite3 --without-libxml2 --with-libexpat --with-libz --with-libgmp --with-libssh2 --without-libgcrypt --without-libnettle --enable-libaria2 ARIA2_STATIC=yes
          make -j
          make install
          popd
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          pwd
          tar -czvf aria2-windows-mingw64.tar.gz out

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aria2-windows-mingw64
          path: aria2-windows-mingw64.tar.gz