name: CI

on:
  push:
    branches: [ "main", "add_ci" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - name: Set up MSYS2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            make
            base-devel
            pkgconf
            tree
            autoconf
            automake
            autotools
            gettext-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-libssh2
            mingw-w64-x86_64-c-ares

      - uses: actions/checkout@v4

      - name: Verify installation
        shell: msys2 {0}
        run: |
          gcc -v
          tree -L 3
          echo "list packages"
          pacman -Q

