name: build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version_name: ${{ steps.version.outputs.version_name }}
    steps:
      - name: Generate VERSION_NAME
        id: version
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            VERSION_NAME="${{ github.ref_name }}"
          else
            VERSION_NAME="${GITHUB_SHA::7}"
          fi
          echo "version_name=${VERSION_NAME}" >> "$GITHUB_OUTPUT"
          echo "VERSION_NAME=${VERSION_NAME}"


  build-win-x64:
    needs: setup
    runs-on: windows-2025

    steps:
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            make
            base-devel
            pkgconf
            tree
            autoconf
            automake
            autotools
            gettext-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-libssh2
            mingw-w64-x86_64-c-ares

      - name: Force LF on checkout (git config)
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.safecrlf true

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: echo VERSION_NAME
        shell: msys2 {0}
        run: |
          echo "VERSION_NAME=${{ needs.setup.outputs.version_name }}"

      - name: Compile aria2
        shell: msys2 {0}
        run: |
          gcc -v
          export OUT_DIR="$PWD/out"
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-included-gettext --disable-nls --with-libcares --without-gnutls --without-openssl --with-sqlite3 --without-libxml2 --with-libexpat --with-libz --with-libgmp --with-libssh2 --without-libgcrypt --without-libnettle --enable-libaria2 ARIA2_STATIC=yes
          make -j
          make install
          popd
          echo "packaging artifact"
          tar -czvf aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2

      - name: Compile aria2_c_api
        shell: msys2 {0}
        run: |
          export OUT_DIR="$PWD/out"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          tar -czvf aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: win-x64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true

  build-linux-x64:
    needs: setup
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile aria2
        run: |
          sudo apt update
          sudo apt install -y \
          g++-12 \
          autoconf \
          automake \
          autotools-dev \
          autopoint \
          libtool \
          pkg-config \
          libssl-dev \
          libc-ares-dev \
          zlib1g-dev \
          libsqlite3-dev \
          libssh2-1-dev \
          libexpat1-dev \
          libcppunit-dev
          export OUT_DIR="$PWD/out"
          export CC=gcc-12
          export CXX=g++-12
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-gnutls --with-openssl --without-libxml2 --with-libexpat --enable-libaria2 ARIA2_STATIC=yes
          make -j"$(nproc 2> /dev/null || sysctl -n hw.ncpu)"
          make install
          popd
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2

      - name: Compile aria2_c_api
        run: |
          export OUT_DIR="$PWD/out"
          echo "OUT_DIR=${OUT_DIR}"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true

  build-macos-arm64:
    needs: setup
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile aria2
        run: |
          brew install --quiet cppunit gettext openssl libssh2 c-ares sqlite3 autoconf automake pkg-config libtool
          export OUT_DIR="$PWD/out"
          export CC=clang
          export CXX=clang++
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-openssl --without-gnutls --with-appletls --disable-nls --enable-libaria2 --enable-static --disable-shared ARIA2_STATIC=yes
          make -j"$(nproc 2> /dev/null || sysctl -n hw.ncpu)"
          make install
          popd
          echo "packaging artifact"
          tar -czvf aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2
      
      - name: Compile aria2_c_api
        run: |
          export OUT_DIR="$PWD/out"
          echo "OUT_DIR=${OUT_DIR}"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          echo "packaging artifact"
          tar -czvf aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: macos-arm64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true

  build-android-arm64:
    needs: setup
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile aria2
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends \
            unzip \
            bzip2 \
            make \
            ninja-build \
            binutils \
            autoconf \
            automake \
            autotools-dev \
            autopoint \
            libtool \
            pkg-config \
            dpkg-dev \
            curl \
            ca-certificates \
            python3-docutils

          export ROOT_DIR="$PWD"
          export BUILD_DIR="$ROOT_DIR/build"
          mkdir -p "$BUILD_DIR"
          export DEPS_DIR="$BUILD_DIR/deps"
          mkdir -p "$DEPS_DIR"
          export PREFIX="$BUILD_DIR/deps/out"
          mkdir -p "$PREFIX"
          export OUT_DIR="$ROOT_DIR/out"
          mkdir -p "$OUT_DIR"

          export NDK_VERSION=r25c
          export NDK="$BUILD_DIR/android-ndk-$NDK_VERSION"
          export TOOLCHAIN=$NDK/toolchains/llvm/prebuilt/linux-x86_64
          export HOST=aarch64-linux-android
          export API=33
          export AR=$TOOLCHAIN/bin/llvm-ar
          export CC=$TOOLCHAIN/bin/$HOST$API-clang
          export CXX=$TOOLCHAIN/bin/$HOST$API-clang++
          export LD=$TOOLCHAIN/bin/ld
          export RANDLIB=$TOOLCHAIN/bin/llvm-ranlib
          export STRIP=$TOOLCHAIN/bin/llvm-strip
          export CFLAGS="-fPIC"
          export CXXFLAGS="-fPIC"
          export LDFLAGS="-fPIC"
          cd "$BUILD_DIR"
          echo "Downloading NDK"
          curl -L -O https://dl.google.com/android/repository/android-ndk-$NDK_VERSION-linux.zip
          unzip -q android-ndk-$NDK_VERSION-linux.zip
          cd "$DEPS_DIR"
          echo "-----setup deps environment variables-----"
          export OPENSSL_VERSION=1.1.1w
          export OPENSSL_ARCHIVE=openssl-$OPENSSL_VERSION.tar.gz
          export OPENSSL_URI=https://www.openssl.org/source/$OPENSSL_ARCHIVE
          export LIBEXPAT_VERSION=2.5.0
          export LIBEXPAT_ARCHIVE=expat-$LIBEXPAT_VERSION.tar.bz2
          export LIBEXPAT_URI=https://github.com/libexpat/libexpat/releases/download/R_2_5_0/$LIBEXPAT_ARCHIVE
          export ZLIB_VERSION=1.3.1
          export ZLIB_ARCHIVE=zlib-$ZLIB_VERSION.tar.gz
          export ZLIB_URI=https://github.com/madler/zlib/releases/download/v1.3.1/$ZLIB_ARCHIVE
          export CARES_VERSION=1.21.0
          export CARES_ARCHIVE=c-ares-$CARES_VERSION.tar.gz
          export CARES_URI=https://github.com/c-ares/c-ares/releases/download/cares-1_21_0/$CARES_ARCHIVE
          export LIBSSH2_VERSION=1.11.0
          export LIBSSH2_ARCHIVE=libssh2-$LIBSSH2_VERSION.tar.bz2
          export LIBSSH2_URI=https://libssh2.org/download/$LIBSSH2_ARCHIVE
          echo "-----build openssl-----"
          curl -L -O $OPENSSL_URI && tar xf $OPENSSL_ARCHIVE && rm $OPENSSL_ARCHIVE
          pushd openssl-$OPENSSL_VERSION
          export ANDROID_NDK_HOME=$NDK
          export PATH=$TOOLCHAIN/bin:$PATH
          ./Configure no-shared --prefix=$PREFIX android-arm64
          make -j$(nproc)
          make install_sw
          echo "-----ninja version-----"
          ninja --version
          echo "-----echo ninja version-----"
          echo "ninja version: $(ninja --version)"
          popd
          echo "-----build libexpat-----"
          curl -L -O $LIBEXPAT_URI && tar xf $LIBEXPAT_ARCHIVE && rm $LIBEXPAT_ARCHIVE
          pushd expat-$LIBEXPAT_VERSION
          ./configure \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
              --prefix=$PREFIX \
              --disable-shared && \
            make -j$(nproc) install
          popd
          echo "-----build zlib-----"
          curl -L -O $ZLIB_URI && tar xf $ZLIB_ARCHIVE && rm $ZLIB_ARCHIVE
          pushd zlib-$ZLIB_VERSION
          ./configure \
              --prefix=$PREFIX \
              --libdir=$PREFIX/lib \
              --includedir=$PREFIX/include \
              --static && \
            make -j$(nproc) install
          popd
          echo "-----build c-ares-----"
          curl -L -O $CARES_URI && tar xf $CARES_ARCHIVE && rm $CARES_ARCHIVE
          pushd c-ares-$CARES_VERSION
          ./configure \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
              --prefix=$PREFIX \
              --disable-shared && \
            make -j$(nproc) install
          popd
          echo "-----build libssh2-----"
          curl -L -O $LIBSSH2_URI && tar xf $LIBSSH2_ARCHIVE && rm $LIBSSH2_ARCHIVE
          pushd libssh2-$LIBSSH2_VERSION
          ./configure \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
              --prefix=$PREFIX \
              --disable-shared && \
            make -j$(nproc) install
          popd

          cd "$ROOT_DIR/aria2"
          autoreconf -i
          ./configure \
            --prefix=$OUT_DIR/aria2 \
            --host=$HOST \
            --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
            --with-pic \
            --disable-nls \
            --without-gnutls \
            --with-openssl \
            --without-sqlite3 \
            --without-libxml2 \
            --with-libexpat \
            --with-libcares \
            --with-libz \
            --with-libssh2 \
            --enable-libaria2 \
            --enable-static \
            --disable-shared \
            CXXFLAGS="-Os" \
            CFLAGS="-Os" \
            CPPFLAGS="-fPIE" \
            LDFLAGS="-fPIE -pie -L$PREFIX/lib -static-libstdc++" \
            PKG_CONFIG_LIBDIR="$PREFIX/lib/pkgconfig"
          make -j"$(nproc)"
          make install

          cd "$ROOT_DIR"
          echo "packaging artifact"
          tar -czvf aria2-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2

      - name: Compile aria2_c_api
        run: |
          export OUT_DIR="$PWD/out"
          echo "OUT_DIR=${OUT_DIR}"
          cmake --preset android-debug
          cmake --build --preset android-debug
          cmake --install build/Debug
          cmake --preset android-release
          cmake --build --preset android-release
          cmake --install build/Release --strip
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2_c_api-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: android-arm64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-android-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true