name: build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version_name: ${{ steps.version.outputs.version_name }}
    steps:
      - name: Generate VERSION_NAME
        id: version
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            VERSION_NAME="${{ github.ref_name }}"
          else
            VERSION_NAME="${GITHUB_SHA::7}"
          fi
          echo "version_name=${VERSION_NAME}" >> "$GITHUB_OUTPUT"
          echo "VERSION_NAME=${VERSION_NAME}"


  build-win-x64:
    needs: setup
    runs-on: windows-2025

    steps:
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: >-
            make
            base-devel
            pkgconf
            tree
            autoconf
            automake
            autotools
            gettext-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-libssh2
            mingw-w64-x86_64-c-ares

      - name: Force LF on checkout (git config)
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.safecrlf true

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: echo VERSION_NAME
        shell: msys2 {0}
        run: |
          echo "VERSION_NAME=${{ needs.setup.outputs.version_name }}"

      - name: Compile aria2
        shell: msys2 {0}
        run: |
          gcc -v
          export OUT_DIR="$PWD/out"
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-included-gettext --disable-nls --with-libcares --without-gnutls --without-openssl --with-sqlite3 --without-libxml2 --with-libexpat --with-libz --with-libgmp --with-libssh2 --without-libgcrypt --without-libnettle --enable-libaria2 ARIA2_STATIC=yes
          make -j
          make install
          popd
          echo "packaging artifact"
          tar -czvf aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2

      - name: Compile aria2_c_api
        shell: msys2 {0}
        run: |
          export OUT_DIR="$PWD/out"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          tar -czvf aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: win-x64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-win-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true


  build-linux-x64:
    needs: setup
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile aria2
        run: |
          sudo apt update
          sudo apt install -y \
          g++-12 \
          autoconf \
          automake \
          autotools-dev \
          autopoint \
          libtool \
          pkg-config \
          libssl-dev \
          libc-ares-dev \
          zlib1g-dev \
          libsqlite3-dev \
          libssh2-1-dev \
          libexpat1-dev \
          libcppunit-dev
          export OUT_DIR="$PWD/out"
          export CC=gcc-12
          export CXX=g++-12
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-gnutls --with-openssl --without-libxml2 --with-libexpat --enable-libaria2 ARIA2_STATIC=yes
          make -j"$(nproc 2> /dev/null || sysctl -n hw.ncpu)"
          make install
          popd
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2

      - name: Compile aria2_c_api
        run: |
          export OUT_DIR="$PWD/out"
          echo "OUT_DIR=${OUT_DIR}"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-linux-x64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true

  build-macos-arm64:
    needs: setup
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile aria2
        run: |
          brew install --quiet cppunit gettext openssl libssh2 c-ares sqlite3 autoconf automake pkg-config libtool
          export OUT_DIR="$PWD/out"
          export CC=clang
          export CXX=clang++
          pushd aria2
          autoreconf -i
          ./configure --prefix="$OUT_DIR/aria2" --without-openssl --without-gnutls --with-appletls --disable-nls --enable-libaria2
          make -j"$(nproc 2> /dev/null || sysctl -n hw.ncpu)"
          make install
          popd
          echo "packaging artifact"
          tar -czvf aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2
      
      - name: Compile aria2_c_api
        run: |
          export OUT_DIR="$PWD/out"
          echo "OUT_DIR=${OUT_DIR}"
          cmake --preset debug
          cmake --build --preset debug
          cmake --install build/Debug
          cmake --preset release
          cmake --build --preset release
          cmake --install build/Release --strip
          echo "output directory structure"
          tree "$OUT_DIR"
          echo "packaging artifact"
          tar -czvf aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz -C "$OUT_DIR" aria2lib

      - name: Upload to Artifacts (for non-release builds)
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: macos-arm64-${{ needs.setup.outputs.version_name }}-${{ github.run_number }}
          path: |
            aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          retention-days: 30
          if-no-files-found: error

      - name: Upload to Release Assets
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            aria2-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
            aria2_c_api-macos-arm64-${{ needs.setup.outputs.version_name }}.tar.gz
          fail_on_unmatched_files: true
